- name, title, mandatory, max_length = attribute.attributes.slice('name', 'title', 'mandatory', 'max_length').values

.form-group
  = form.label(name, title)

  = form.text_field(name, class: 'form-control', required: mandatory, maxlength: max_length)
