.editing-dialog-thumbnail
  .visualization
    %i.thumbnail-icon.editing-icon-login

  .title
    Form Builder

  .description
    The form builder page displays a form that is defined in the WebCRM using a custom Activity.
